In [1]:
%config Completer.use_jedi = False

In [2]:
import pandas as pd
import numpy as np

In [17]:
pd.set_option('display.max_columns', None)

In [18]:
df = pd.read_csv('train.csv')
df.tail()

,id,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,person_prefer_c,person_prefer_d_1,person_prefer_d_2,person_prefer_d_3,person_prefer_e,person_prefer_f,person_prefer_g,person_prefer_h_1,person_prefer_h_2,person_prefer_h_3,contents_attribute_i,contents_attribute_a,contents_attribute_j_1,contents_attribute_j,contents_attribute_c,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,contents_open_dt,target
501946,501946,False,False,False,True,False,False,1,1,2,2,1192,935,1228,3,1,1,59,4,95,3,3,5,1,1,2,354,147,1,5,65,503156,285850,2020-03-13 12:55:52,1
501947,501947,True,True,False,True,False,False,1,6,2,1,118,113,110,4,1,1,105,142,95,3,3,10,2,1,2,163,120,1,4,142,676255,456996,2020-01-20 11:51:51,1
501948,501948,True,True,True,True,False,False,1,7,4,1,147,46,145,4,1,1,59,127,139,3,1,5,1,1,2,438,147,2,7,65,484528,293258,2020-08-05 17:27:24,1
501949,501949,True,False,False,True,False,False,1,1,2,1,46,147,145,4,1,1,251,49,258,3,2,5,1,1,2,660,147,3,4,259,456330,273797,2020-06-15 09:23:21,1
501950,501950,True,True,True,True,False,False,1,6,3,5,147,46,145,6,1,1,278,31,49,3,3,5,1,1,2,786,147,2,5,289,235596,176650,2020-05-25 14:34:48,1

In [5]:
df['d_l_match_yn'].value_counts()

True     315268
False    186683
Name: d_l_match_yn, dtype: int64

In [6]:
df['d_m_match_yn'].value_counts()

False    368324
True     133627
Name: d_m_match_yn, dtype: int64

In [7]:
df['d_s_match_yn'].value_counts()

False    426694
True      75257
Name: d_s_match_yn, dtype: int64

In [8]:
df[(df['d_l_match_yn'] == True) & (df['d_m_match_yn'] == True) & (df['d_s_match_yn'] == True)].target.value_counts()

1    45457
0    29800
Name: target, dtype: int64

In [9]:
df['person_rn'].value_counts()

627445     20
1047079    19
241140     19
827703     19
1016996    18
           ..
798856      1
54141       1
467843      1
988037      1
907205      1
Name: person_rn, Length: 300177, dtype: int64

In [10]:
df[df['person_rn']==627445].target.value_counts()

1    12
0     8
Name: target, dtype: int64

In [11]:
df['contents_attribute_l'].value_counts()

759     15373
1648    11984
1835    10967
861      9899
572      9604
        ...
9           1
751         1
1787        1
170         1
1365        1
Name: contents_attribute_l, Length: 1752, dtype: int64

In [12]:
df['contents_attribute_j_1'].value_counts()

5     330790
10     89307
3      30664
4      19649
9      19115
6      10808
2       1416
8        137
1         65
Name: contents_attribute_j_1, dtype: int64

In [13]:
df['person_rn'].nunique()

300177

In [14]:
df['contents_rn'].nunique()

283359

In [15]:
df[(df['target'] == 1)].contents_rn.value_counts()

22078     34
138209    28
76824     26
402922    23
668672    21
          ..
345720     1
412538     1
152441     1
20389      1
149367     1
Name: contents_rn, Length: 155277, dtype: int64

In [19]:
df[df['contents_rn'] == 22078].describe()

,id,person_attribute_a,person_attribute_a_1,person_attribute_b,person_prefer_c,person_prefer_d_1,person_prefer_d_2,person_prefer_d_3,person_prefer_e,person_prefer_f,person_prefer_g,person_prefer_h_1,person_prefer_h_2,person_prefer_h_3,contents_attribute_i,contents_attribute_a,contents_attribute_j_1,contents_attribute_j,contents_attribute_c,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,target
count,39.000000,39.000000,39.000000,39.00000,39.000000,39.000000,39.000000,39.000000,39.000000,39.0,39.0,39.000000,39.00000,39.000000,39.0,39.0,39.0,39.0,39.0,39.0,39.0,39.0,39.0,39.0,39.0,3.900000e+01,39.0,39.000000
mean,317664.641026,1.256410,2.692308,2.74359,3.589744,622.205128,683.487179,621.897436,3.435897,1.0,1.0,41.589744,66.25641,54.743590,2.0,3.0,5.0,1.0,3.0,2.0,1681.0,703.0,3.0,4.0,26.0,2.990223e+05,22078.0,0.871795
std,87299.256766,0.442359,2.363693,0.99255,1.802308,259.982204,180.345702,290.940561,1.273100,0.0,0.0,50.858792,42.80354,33.791713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.023902e+05,0.0,0.338688
min,120004.000000,1.000000,0.000000,1.00000,1.000000,27.000000,38.000000,26.000000,0.000000,1.0,1.0,4.000000,4.00000,2.000000,2.0,3.0,5.0,1.0,3.0,2.0,1681.0,703.0,3.0,4.0,26.0,5.138000e+03,22078.0,0.000000
25%,258231.500000,1.000000,1.000000,2.00000,1.000000,697.000000,703.000000,703.000000,3.500000,1.0,1.0,4.000000,23.00000,26.000000,2.0,3.0,5.0,1.0,3.0,2.0,1681.0,703.0,3.0,4.0,26.0,6.893450e+04,22078.0,1.000000
50%,365121.000000,1.000000,2.000000,2.00000,5.000000,703.000000,705.000000,704.000000,4.000000,1.0,1.0,4.000000,95.00000,59.000000,2.0,3.0,5.0,1.0,3.0,2.0,1681.0,703.0,3.0,4.0,26.0,1.085980e+05,22078.0,1.000000
75%,403809.500000,1.500000,4.500000,4.00000,5.000000,705.000000,705.000000,840.000000,4.000000,1.0,1.0,95.000000,95.00000,59.000000,2.0,3.0,5.0,1.0,3.0,2.0,1681.0,703.0,3.0,4.0,26.0,6.301035e+05,22078.0,1.000000
max,428591.000000,2.000000,7.000000,5.00000,5.000000,1144.000000,1227.000000,1086.000000,5.000000,1.0,1.0,184.000000,148.00000,129.000000,2.0,3.0,5.0,1.0,3.0,2.0,1681.0,703.0,3.0,4.0,26.0,1.045495e+06,22078.0,1.000000